@model IEnumerable<testapp.Models.User>

    <div class="col-md-8 offset-md-2">

        <h1 class="text-center"><i class="fas fa-comments-dollar text-success"></i> USERS LIST</h1>


        <table class="table">
            <thead class="thead-light text-center">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BirthDay)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatDateTime)
                    </th>
                    
                
                    <th>
                        <a onclick="showInPopup('@Url.Action("Create","User",null,Context.Request.Scheme)','New User')" class="btn btn-success text-white"><i class="fas fa-random"></i> New User</a>
                    </th>
                </tr>
            </thead>
        <tbody class="thead-light text-center">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BirthDay)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatDateTime)
                    </td>
                        <td>
                            <div>
                                <a onclick="showInPopup('@Url.Action("Create","User",new {id=item.Id},Context.Request.Scheme)','Update User')" class="btn btn-info text-white"><i class="fas fa-pencil-alt"></i> Edit</a>
                                <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                                    <input type="hidden" asp-for="@item.Id" />
                                    <input type="submit" value="Delete" class="btn btn-danger" />
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>